<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ca.mlaflamme.clocktime">

    <uses-sdk android:minSdkVersion="17"/>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.light"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.orientation"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false"/>

    <uses-permission
        android:name="android.permission.READ_SMS"/>
    <uses-permission
        android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission
        android:name="com.google.android.gm.permission.READ_CONTENT_PROVIDER"/>
    <uses-permission
        android:name="android.permission.READ_CALL_LOG"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <!-- Dream (screensaver) implementation -->
        <service
            android:name=".Screensaver"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DREAM_SERVICE"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.service.dreams.DreamService"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

            <meta-data
                android:name="android.service.dream"
                android:resource="@xml/dream_info"/>
        </service>

        <!-- Settings activity for screensaver -->
        <activity
            android:name=".ScreensaverSettingsActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:label="@string/screensaver_settings"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Holo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ScreensaverActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@android:style/Theme.Holo.Wallpaper.NoTitleBar">
            <intent-filter>

                <!-- TODO: is ACTION_POWER_DISCONNECTED required? -->
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </activity>
        <activity android:name=".ClockActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service
            android:name=".NotificationListener"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService"/>
            </intent-filter>
        </service>

        <!--
            <meta-data android:name="com.google.android.backup.api_key"
            android:value="your_backup_service_key"/>
        -->
    </application>

</manifest>
